build/**
public/**
out/**
.next/**
node_modules/**

.git
*.json
.nvmrc
README.md
.gitignore
.npmignore
.prettierrc
.flowconfig
.scannerwork
.eslintcache
.eslintignore
.editorconfig
.prettierignore
*.svg
